In [238]:
import pandas as pd
import numpy as np

import networkx as nx
from pyvis.network import Network
import itertools

In [239]:
df = pd.read_csv('Rowing Availabilities Test - Novice_Availabilities.csv')

In [240]:
df = df.drop(['experience','keen to learn','comments'], axis=1).set_index('name')

In [241]:
slots = []

for time in df.columns:
    X = df[df[time] == True].index
    Y = list(itertools.combinations(X,2))
    Z = [y + (time,) for y in Y]
    slots += Z
    
slots_df = pd.DataFrame(slots, columns=['Rower 1','Rower 2','Time'])

In [242]:
G = nx.from_pandas_edgelist(slots_df, 'Rower 1', 'Rower 2')
net = Network(notebook=True)
net.from_nx(G)
net.show("possible slots.html")

In [243]:
matchings = nx.algorithms.matching.maximal_matching(G)
matchings_df = pd.DataFrame(matchings, columns=['Rower 1','Rower 2'])

In [244]:
G = nx.from_pandas_edgelist(matchings_df, 'Rower 1', 'Rower 2')
net = Network(notebook=True)
net.from_nx(G)
net.show("solution.html")

In [245]:
match_times = []

for match in matchings:
    times = []
    df3 = df.loc[match,:]
    for time in df.columns:
        if df3[time].all():
            times.append(time)
    match_times.append(times)
    
matchings_df['times'] = match_times
matchings_df

   Rower 1  Rower 2                                   times
0     ella  harriet  [Monday 14:00, Monday 18:00, Thu 9:00]
1     jess  francis                              [Fri 9:00]
2  natalie    olive             [Monday 9:00, Monday 14:00]
3    darcy     gail            [Monday 9:00, Tuesday 18:00]
4     anne    clare  [Monday 9:00, Monday 14:00, Wed 18:00]
5    priya     beth            [Monday 18:00, Tuesday 9:00]
6     izzy    milly                [Monday 9:00, Wed 18:00]